.container--landing {
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url('https://cdn.pixabay.com/photo/2016/02/19/10/12/writing-1209121_1280.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20rem;
  color: #ddd;
  display: flex;
  flex-direction: column;
}

.slogan {
  text-transform: capitalize;
  width: 50%;
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.slogan h1 {
  font-size: 56px;
}

.identify {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.identify > a {
  text-align: center;
  text-decoration: none;
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  width: 25rem;
  margin: 1rem;
  border-radius: 5px;
}

.login {
  color: #333;
  background-color: rgb(205, 205, 205);
}

.signup {
  color: rgb(255, 255, 255);
  background-color: rgba(14, 77, 146, 0.95);
}

.social {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.social > a {
  text-align: center;
  text-decoration: none;
  width: 45%;
  padding: 1rem;
  border-radius: 5px;
  color: #ddd;
}

.facebook {
  background-color: #3b5998;
}

.google {
  background-color: #db4437;
}
