.delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.delete-card {
  z-index: 3;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
  width: 50rem;
  height: 30rem;
  max-height: 98%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  max-width: 98vw;
  transition: all 0.2s ease-in-out;
}

.delete-card > input {
  border: none;
  background: none;
  background-color: #f1f3f4;
  padding: 1rem;
  width: 80%;
  margin-bottom: 2rem;
  border-radius: 5px;
  height: 3.5rem;
}

.delete-close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.delete-close > button {
  border: none;
  background: none;
  font-size: 2rem;
  color: #5f6368;
}

.delete-card > button {
  border: none;
  background: none;
  border: 2px solid rgba(194, 24, 7);
  color: rgba(194, 24, 7);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.delete-card > button:disabled {
  color: #ccc;
  border: 2px solid #ddd;
  cursor: default;
}
