.navbar {
  height: 8vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
  /* box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2); */
  z-index: 4;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar-left {
  display: flex;
}

.navbar-right .avatar {
  height: 4rem;
  width: 4rem;
  overflow: hidden;
  border-radius: 50%;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search {
  width: 50rem;
  border-radius: 5px;
  background-color: #f1f3f4;
  padding: 1rem 2rem;
}

.search input:focus {
  outline: none;
}

.navbar svg {
  color: #5f6368;
}

.search > input {
  border: none;
  background: none;
  margin-left: 1rem;
  font-size: 1.4rem;
  width: 90%;
}

.minerva {
  margin-left: 2rem;
}

.layout-container > span {
  top: 6vh;
  max-width: 100vw;
  right: 0;
  position: absolute;
  z-index: 2;
}

.user-sidebar {
  overflow-x: hidden;
  height: 94vh;
  padding: 2.5rem;
  width: 35rem;
  background-color: #f1f3f4;
  z-index: 3;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}

.session {
  display: flex;
  flex-direction: column;
}

.session > a,
.session > button {
  border: none;
  background: none;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  color: inherit;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.navbars-enter {
  width: 0;
  opacity: 0.01;
  overflow: hidden;
}

.navbars-enter.navbars-enter-active {
  width: 35rem;
  opacity: 1;
  transition: all 250ms ease-in-out;
  overflow: hidden;
}

.navbars-leave {
  width: 35rem;
  opacity: 1;
  overflow: hidden;
}

.navbars-leave.navbars-leave-active {
  width: 0;
  overflow: hidden;
  opacity: 0.01;
  transition: all 200ms ease-in-out;
}
